pipeline/FixedFileToSTG.json
{
	"name": "FixedFileToSTG",
	"properties": {
		"activities": [
			{
				"name": "FixedFileToSTG",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "v1Df_Source_To_STG_CARDS_TRANSACTIONS",
						"type": "DataFlowReference",
						"parameters": {
							"TranIDStrt": {
								"value": "@activity('Script1').output.resultSets[0].rows[0].Strt_Len",
								"type": "Expression"
							},
							"TranIDEnd": {
								"value": "@activity('Script1').output.resultSets[0].rows[0].End_Len",
								"type": "Expression"
							},
							"MerIDStrt": {
								"value": "@activity('Script1').output.resultSets[1].rows[0].Strt_Len",
								"type": "Expression"
							},
							"MerIDEnd": {
								"value": "@activity('Script1').output.resultSets[1].rows[0].End_Len",
								"type": "Expression"
							},
							"CardNumStrt": {
								"value": "@activity('Script1').output.resultSets[2].rows[0].Strt_Len",
								"type": "Expression"
							},
							"CardNumEnd": {
								"value": "@activity('Script1').output.resultSets[2].rows[0].End_Len",
								"type": "Expression"
							},
							"TrnDateStrt": {
								"value": "@activity('Script1').output.resultSets[3].rows[0].Strt_Len",
								"type": "Expression"
							},
							"TrnDateEnd": {
								"value": "@activity('Script1').output.resultSets[3].rows[0].End_Len",
								"type": "Expression"
							},
							"AmtStrt": {
								"value": "@activity('Script1').output.resultSets[4].rows[0].Strt_Len",
								"type": "Expression"
							},
							"AmtEnd": {
								"value": "@activity('Script1').output.resultSets[4].rows[0].End_Len",
								"type": "Expression"
							},
							"CurrStrt": {
								"value": "@activity('Script1').output.resultSets[5].rows[0].Strt_Len",
								"type": "Expression"
							},
							"CurrEnd": {
								"value": "@activity('Script1').output.resultSets[5].rows[0].End_Len",
								"type": "Expression"
							},
							"AuthCStrt": {
								"value": "@activity('Script1').output.resultSets[6].rows[0].Strt_Len",
								"type": "Expression"
							},
							"AuthCEnd": {
								"value": "@activity('Script1').output.resultSets[6].rows[0].End_Len",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'TransactionID'"
						},
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'MerchantID '"
						},
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'CardNumber'"
						},
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'TransactionDate'"
						},
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'Amount'"
						},
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'Currency'"
						},
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'AuthCode'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "StartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "EndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FixedFileToSTG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PiplineExecutionStatus",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "EndTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "insert into PipelineRunStatus values('@{pipeline().Pipeline}','@{pipeline().RunId}','@{formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:ss')}','@{pipeline().TriggerType}',datediff(second,'@{variables('StartTime')}','@{variables('EndTime')}'),datediff(minute,'@{variables('StartTime')}','@{variables('EndTime')}'))",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"StartTime": {
				"type": "String"
			},
			"EndTime": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-11T06:23:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}