pipeline/paramFixedFileToSTG.json
{
	"name": "paramFixedFileToSTG",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from OD.LEN_STG_CONTROL",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LenStgControl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TransactionID",
					"value": {
						"value": "@activity('Lookup1').output.value[0].Column_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "TransactionID",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().column_name, 'TransactionID')\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "trnStrtLen",
											"value": {
												"value": "@item().Strt_len",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable3",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "trnEndLen",
											"value": {
												"value": "@item().End_len",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "MerchantID",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().column_name, 'MerchantID')\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable2_copy1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "merStrtLen",
											"value": {
												"value": "@item().Strt_len",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable3_copy1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "merEndLen",
											"value": {
												"value": "@item().End_len",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "CardNumber",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().column_name, 'CardNumber')\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable2_copy2",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "crdStrtLen",
											"value": {
												"value": "@item().Strt_len",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable3_copy2",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "crdEndLen",
											"value": {
												"value": "@item().End_len",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "TransactionDate",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().column_name, 'TransactionDate')\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable2_copy3",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "trnDStrtLen",
											"value": {
												"value": "@item().Strt_len",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable3_copy3",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "trnDEndLen",
											"value": {
												"value": "@item().End_len",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Amount",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().column_name, 'Amount')\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable2_copy4",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "amtStrtLen",
											"value": {
												"value": "@item().Strt_len",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable3_copy4",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "amtEndLen",
											"value": {
												"value": "@item().End_len",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Currency",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().column_name, 'Currency')\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable2_copy5",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "currDStrtLen",
											"value": {
												"value": "@item().Strt_len",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable3_copy5",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "currEndLen",
											"value": {
												"value": "@item().End_len",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "AuthCode",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().column_name, 'AuthCode')\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable2_copy6",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "authStrtLen",
											"value": {
												"value": "@item().Strt_len",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable3_copy6",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "authEndLen",
											"value": {
												"value": "@item().End_len",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'TransactionID'"
						},
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'MerchantID '"
						},
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'CardNumber'"
						},
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'TransactionDate'"
						},
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'Amount'"
						},
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'Currency'"
						},
						{
							"type": "Query",
							"text": "select * from OD.LEN_STG_CONTROL where Column_name = 'AuthCode'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "v1ParamDf_Source_To_STG_CARDS_TRANSACTIONS",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "v1ParamDf_Source_To_STG_CARDS_TRANSACTIONS",
						"type": "DataFlowReference",
						"parameters": {
							"TranIDStrt": {
								"value": "@activity('Script1').output.resultSets[0].rows[0].Strt_Len",
								"type": "Expression"
							},
							"TranIDEnd": {
								"value": "@activity('Script1').output.resultSets[0].rows[0].End_Len",
								"type": "Expression"
							},
							"MerIDStrt": {
								"value": "@activity('Script1').output.resultSets[1].rows[0].Strt_Len",
								"type": "Expression"
							},
							"MerIDEnd": {
								"value": "@activity('Script1').output.resultSets[1].rows[0].End_Len",
								"type": "Expression"
							},
							"CardNumStrt": {
								"value": "@activity('Script1').output.resultSets[2].rows[0].Strt_Len",
								"type": "Expression"
							},
							"CardNumEnd": {
								"value": "@activity('Script1').output.resultSets[2].rows[0].End_Len",
								"type": "Expression"
							},
							"TrnDateStrt": {
								"value": "@activity('Script1').output.resultSets[3].rows[0].Strt_Len",
								"type": "Expression"
							},
							"TrnDateEnd": {
								"value": "@activity('Script1').output.resultSets[3].rows[0].End_Len",
								"type": "Expression"
							},
							"AmtStrt": {
								"value": "@activity('Script1').output.resultSets[4].rows[0].Strt_Len",
								"type": "Expression"
							},
							"AmtEnd": {
								"value": "@activity('Script1').output.resultSets[4].rows[0].End_Len",
								"type": "Expression"
							},
							"CurrStrt": {
								"value": "@activity('Script1').output.resultSets[5].rows[0].Strt_Len",
								"type": "Expression"
							},
							"CurrEnd": {
								"value": "@activity('Script1').output.resultSets[5].rows[0].End_Len",
								"type": "Expression"
							},
							"AuthCStrt": {
								"value": "@activity('Script1').output.resultSets[6].rows[0].Strt_Len",
								"type": "Expression"
							},
							"AuthCEnd": {
								"value": "@activity('Script1').output.resultSets[6].rows[0].End_Len",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"TransactionID": {
				"type": "String"
			},
			"trnStrtLen": {
				"type": "Integer"
			},
			"trnEndLen": {
				"type": "Integer"
			},
			"merStrtLen": {
				"type": "Integer"
			},
			"merEndLen": {
				"type": "Integer"
			},
			"crdStrtLen": {
				"type": "Integer"
			},
			"crdEndLen": {
				"type": "Integer"
			},
			"trnDStrtLen": {
				"type": "Integer"
			},
			"trnDEndLen": {
				"type": "Integer"
			},
			"amtStrtLen": {
				"type": "Integer"
			},
			"amtEndLen": {
				"type": "Integer"
			},
			"currDStrtLen": {
				"type": "Integer"
			},
			"currEndLen": {
				"type": "Integer"
			},
			"authStrtLen": {
				"type": "Integer"
			},
			"authEndLen": {
				"type": "Integer"
			},
			"trn1": {
				"type": "Integer"
			},
			"trn2": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-11T06:23:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}