pipeline/Pip_Dim_Brands.json
{
	"name": "Pip_Dim_Brands",
	"properties": {
		"activities": [
			{
				"name": "Df_DIM_BRANDS",
				"description": "select isnull(max(Brand_Skey),100001) as MaxSkey from OD.DIM_BRANDS",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Df_DIM_BRANDS",
						"type": "DataFlowReference",
						"parameters": {
							"MaxBrandsSkey": {
								"value": "@activity('Script1').output.resultSets[0].rows[0].MaxSkey",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "select isnull(max(Brand_Skey),100000) as MaxSkey from OD.DIM_BRANDS\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Df_DIM_BRANDS_insrt",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Script2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Df_DIM_BRANDS_insrt",
						"type": "DataFlowReference",
						"parameters": {
							"MaxBrandsSkey": {
								"value": "@activity('Script2').output.resultSets[0].rows[0].MaxSkey",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Script2",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Df_DIM_BRANDS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "select isnull(max(Brand_Skey),100000) as MaxSkey from OD.DIM_BRANDS\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-12-19T06:58:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}